@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&family=Poppins:wght@600;700&display=swap');
@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #1f2937;

  /* Accent principal : le bleu Opti */
  --accent: #002364;
  /* Accent soncondaire */
  --accent-alt: #D70064;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'IBM Plex Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: var(--accent); /* Bleu Opti */
  letter-spacing: -0.5px;
}
body.cv-page {
  background: linear-gradient(to bottom right, #D70064, #412761, #002364);
  background-size: cover;
  background-attachment: fixed;
}
@layer utilities {
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in {
    animation: fade-in 0.4s ease-out forwards;
  }
}